@page
@using Microsoft.AspNetCore.Identity
@model eOfficeWeb.Pages.AppUser.DashboardModel
@inject UserManager<ApplicationUser> UserManager
@{

   
}

<div class="container-fluid">
    <div class="row flex-nowrap">

        @*sidebar column starts*@
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <partial name="_SidebarPartial" />
        </div>
        @*sidebar column ends*@
   
        @* column for Main content starts*@
        <div class="col">
            <div class="row">

                @*mid column starts*@
                <div class="col-auto col-md-9">

                   @*Notification row starts*@
                    @functions {
                        string getBgClass(int count)
                        {
                            return count > 1 ? "bg-warning" : "bg-light";
                        }
                    }

                    <div class="container mt-2">
                        @*<h3 class="text-center mb-4"><i class="bi bi-bell-fill text-primary"></i> Notification Centre</h3>*@
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card notification-card border-0 shadow-sm bg-light">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="display-4 flex-grow-1">@Model.CountDakToday</div>
                                        <div>
                                            <i class="bi bi-cloud-upload text-primary notification-icon-size"></i>
                                            <p class="card-title text-muted">Dak Uploaded Today</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card notification-card border-0 shadow-sm @getBgClass(Model.CountUnseenDak)">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="display-4 flex-grow-1">@Model.CountUnseenDak</div>
                                        <div>
                                            <i class="bi bi-eye-slash text-primary notification-icon-size"></i>
                                            <p class="card-title text-muted">Dak (Not yet seen)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card notification-card border-0 shadow-sm @getBgClass(Model.CountUpcomingEvents)">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="display-4 flex-grow-1">@Model.CountUpcomingEvents</div>
                                        <div>
                                            <i class="bi bi-calendar-event text-primary notification-icon-size"></i>
                                            <p class="card-title text-muted">Upcoming Events</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card notification-card border-0 shadow-sm @getBgClass(Model.CountDelayedTask)">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="display-4 flex-grow-1">@Model.CountDelayedTask</div>
                                        <div>
                                            <i class="bi bi-clock text-primary notification-icon-size"></i>
                                            <p class="card-title text-muted">Pending Tasks</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card notification-card border-0 shadow-sm @getBgClass(Model.CountSocialCalendarToday)">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="display-4 flex-grow-1">@Model.CountSocialCalendarToday</div>
                                        <div>
                                            <i class="bi bi-calendar2-heart text-primary notification-icon-size"></i>
                                            <p class="card-title text-muted">Social Calendar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card notification-card border-0 shadow-sm @getBgClass(Model.DakSpeaks.Count())">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="display-4 flex-grow-1">@Model.DakSpeaks.Count()</div>
                                        <div>
                                            <i class="bi bi-megaphone text-primary notification-icon-size"></i>
                                            <p class="card-title text-muted">Speak Cases</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                  @*Notification row ends*@

                   @*row below notificaton*@ 


                    <div class="container my-4">
                        <div class="row">

                            <div class="col-lg-12 mb-4">
                                <div class="card border-0 shadow-sm bg-white rounded">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary"><i class="fa-solid fa-envelope-open-text icon-envelope"></i> Recently Received Dak: Your 5 Latest Unread</h4>
                                        <!-- Recent Dak Received Data -->
                                        @if (@Model.LoggedInUser.OfficeBranch == "None" || (Model.LoggedInUser.OfficeBranch != "All" && @Model.LoggedInUser.OfficeBranchSection == "None"))
                                        {
                                            <div class="justify-content-center text-center p-5  fixed-height-row">
                                                <span class="text-danger display-6 p-5">
                                                    Allocated Office branch or Section is not in order. You are locked out from Dak Module.<br />
                                                    Please contact your Admin.
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                        <div class="row fixed-height-row">
                                            <table class="table p-0 m-0">
                                                    <tbody>
                                                        @if (@Model.DakRecentFive.Count() == 0)
                                                        {
                                                            <span class="fs-6">Awesome job! You've cleared the deck and viewed all your daks. Stay tuned for more.</span>
                                                        }
                                                        @foreach (var dak in Model.DakRecentFive)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <strong>Subject - </strong><strong class="text-primary"> @dak.Subject</strong><br />
                                                                    <span class="text-secondary ">Letter No @dak.LetterNo dated @dak.LetterDate.ToString("dd MMMM yyyy")</span><br />
                                                                    Received from <span class="text-success fw-bold">@dak.From</span> on @dak.DateReceived.ToString("dd MMMM yyyy")
                                                                </td>
                                                                <td class="" width="10%">
                                                                    <center class="">
                                                                        <a asp-page="UserDakView" asp-route-id="@dak.Id" class="btn btn-sm btn-outline-success mx-2">
                                                                            <i class="fa-solid fa-eye"></i> View
                                                                        </a>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                        </div>
                                                                                    }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <div class="card border-0 shadow-sm bg-white rounded">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary"><i class="fa-solid fa-calendar-days icon-calendar"></i> Events Scheduled for the Next 30 Days</h4>
                                        <!-- Upcoming Events (Next Week) Data -->
                                        <div class="row fixed-height-row">
                                            <table class="table p-0 m-0">
                                                <tbody>
                                                    @if (@Model.CountUpcomingEvents == 0)
                                                    {
                                                        <span class="fs-6">No upcoming events in next week.</span>
                                                    }
                                                    @foreach (var obj in Model.Events)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <h6 class="text-secondary">
                                                                    <i class="fa-solid fa-square" style="color:@obj.ThemeColor"></i>
                                                                    @obj.Subject - Starting on @obj.Start.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </h6><br />
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="card border-0 shadow-sm bg-white rounded">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary"><i class="fa-solid fa-cake-candles icon-cake-candles"></i> Social Calendar for the Coming 30 Days</h4>
                                        <!-- Social Calendar Data -->
                                        <div class="row fixed-height-row">
                                            <table class="table  p-0 m-0">
                                                <tbody>
                                                    @if (@Model.CountSocialCalendarWeek == 0)
                                                    {
                                                        <span class="fs-6">No upcoming birthday / anniversary</span>
                                                    }
                                                    @foreach (var socialCalendar in Model.SocialCalendarWeek)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <h6 class="text-secondary">
                                                                    <i class="bi bi-balloon" style="color:red"></i><i class="bi bi-balloon" style="color:gold"></i>
                                                                    @socialCalendar.EventDate.ToString("dd MMMM ") - @socialCalendar.EventType of @socialCalendar.Name
                                                                </h6><br>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                   @*row below notificaton ends*@   
               
                </div> 
                @*mid column ends*@

                @*right most column starts*@
                <div class="col ">
                <div class="card border-0" >
                  <div class="card-header fs-6 fw-bold bg-gradient">
                            <i class="fa-solid fa-list-check fa-solid-thumbtack-color-blue"></i> &nbsp;  To Do List
                    <a asp-area="" asp-page="/AppUser/UserToDoList/Index" class="btn btn-sm btn-outline-primary" style="float:right"><i class="fa-solid fa-plus"></i> Add Task</a> 
                    </div>
                  <ul class="list-group list-group-flush">
                        @if (Model.CountAllTasks==0)
                        {
                            <span class="fs-6">No tasks have been added to the list. <br/> <br/>
                            
                            <hr/>
                            </span>
                        }
                        @foreach (var item in Model.ToDoList)
                        {
                                @if (item.CompletionTime.Date.ToString("dd MMMM yyyy") != "01 January 0001")
                                {
                                    <li class="list-group-item">
                                        @if (item.CompletionTime < DateTime.Now)
                                        {
                                            <span class="fw-bold fs-6"><i class="fa-solid fa-thumbtack fs-5" style="color:red" ></i> &nbsp; @item.Task </span>
                                            <span class="text-danger">(Need your attention)</span><br/>
                                        }
                                        else
                                        {
                                            <span class="fw-bold fs-6"><i class="fa-solid fa-thumbtack" style="color:deepskyblue" ></i> &nbsp; @item.Task</span> <br/>
                                        }


                                        <span> To be completed by</span>
                                        <span>@item.CompletionTime.ToString("dddd, dd MMMM yyyy hh:mm tt")</span>
                                    </li>
                                }
                            }
                     

                  </ul>
                </div>
                </div>
                @*right most column ends*@

            </div>
           
                  
        </div>
        @*Main content div/column ends*@

         

    </div> @*master row ends*@
</div> @*main container ends*@





