@page
@using Microsoft.AspNetCore.Identity;
@using eOffice.Utility;
@model eOfficeWeb.Pages.Admin.UserAdministration.UserManagementModel
@{
    @inject SignInManager<ApplicationUser> SignInManager

    @inject UserManager<ApplicationUser> UserManager

}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-primary display-5">User Administration : Manage Users</h4>
            <hr />

            @*table for events*@
            <div class="row">
                <table id="tableDakList" class="table table-borderless full-width">
                    <thead>
                        <tr>
                            <th class="hidden">Id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in @Model.Users)
                        {
                            <tr>
                                <td class="hidden">@obj.Id</td>
                                <td>
                                    <div class="card-body border bg-light">
                                        <div class="row">
                                            <div class="col-md-1 mx-1">
                                                <center>
                                                    <img class="img-fluid img-size" src="~/images/generaluser.png">
                                                    @if (obj.IsEnabled == true)
                                                    {
                                                        <span class="badge badge-success">Active User</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">User Disabled</span>
                                                    }
                                                </center>
                                            </div>
                                            <div class="col-md-3 mx-1 word-wrap">
                                                <span class="fs-6">
                                                    <strong>Username : @obj.UserName </strong><br />
                                                    @obj.Rank  @obj.FirstName  @obj.LastName <br />
                                                    <strong>Roles Assigned : </strong>
                                                </span>
                                            </div>

                                            <div class="col-md-2 mx-1 word-wrap">
                                                <span class="fs-6">
                                                    <strong>Claims Assigned</strong> <br />
                                                    Office Branch : @obj.OfficeBranch <br />
                                                    Office Section : @obj.OfficeBranchSection <br />
                                                </span>
                                            </div>
                                            <div class="col-md-5 mx-1 word-wrap">
                                                <a asp-page="/Admin/UserAdministration/EditUser" asp-route-id="@obj.Id" class="btn btn-sm btn-outline-primary">
                                                    Edit User / Assign Branch
                                                </a>
                                                <a asp-page="/Admin/UserAdministration/EditOfficeSection" asp-route-userId="@obj.Id" class="btn btn-sm btn-outline-primary my-1">
                                                    Edit Office Section
                                                </a>
                                                <a asp-page="/Admin/UserAdministration/ResetPasswordByAdmin" asp-route-userId="@obj.Id" class="btn btn-sm btn-outline-danger my-1">
                                                    Reset Password
                                                </a>
                                                @if (obj.IsEnabled == true)
                                                {
                                                    <a asp-page="/Admin/UserAdministration/UserActivation" asp-route-id="@obj.Id" class="btn btn-sm btn-outline-danger my-1">
                                                        Disable User
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-page="/Admin/UserAdministration/UserActivation" asp-route-id="@obj.Id" class="btn btn-sm btn-outline-success my-1">
                                                        Activate User
                                                    </a>
                                                }

                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>






    </div>



    @section Scripts{
        <script src="~/js/dak.js"></script>

    }
